<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.startactivity">

    <application>
        <activity
            android:name=".FirstActivity"
            android:exported="true"
            android:theme="@style/NormalThemeApp"/>
    </application>

</manifest>